<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            text-align: center;
            font-family: Arial;
            background-color: #ecf0f1;
        }
        input {
            padding: 8px;
            margin: 5px;
        }
        button {
            padding: 10px 20px;
            background-color: #2ecc71;
            color: white;
            border: none;
        }
    </style>
</head>
<body>

<h1>Login</h1>

<form method="POST">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <button type="submit">Login</button>
</form>

</body>
</html>